In [2]:
import numpy as np
import pandas as pd

------
## Simplificando as perguntas
--------

In [75]:
des = pd.read_csv('DESISTENTES.csv')\
    .dropna(axis=1, how='all')\
    .dropna(axis=0, how='all')\
    .drop('Você é ou já foi aluno do curso de Ciência da Computação ou Engenharia da Computação?', 1)\
    .drop('Unnamed: 0', axis=1)\
    .fillna('')

------
## Funções Utilizadas
--------

Neste notebook, foram utilizadas as seguintes funções para a contagem das categorias e suas cross-relações:
- cross table
- cross table com dados relativos (%)

Abaixo estão outras funções auxiliares

#### IMPORTANTE: por favor, inicialize as variáveis antes de usar as funções

In [127]:
# df.corr(method ='pearson')  # correlação de pearson para variaveis quantitativas
# pd.crosstab(df['col1'], df['col2']) # matriz de confusão do python

# the same as split
def separate(s, sep):
    return str(s).split(sep)



# stacks two lists in vertical - must have the same columns size
def append(list1, list2):
    res = list1.copy()
    for l in list2:
        res.append(l)
    return res



# stacks two pandas DataFrame in vertical - must have the same columns size. The columns names are passed by argument
def appendDataFrames(df1, df2, columns):
    l1 = df1.values.tolist()
    l2 = df2.values.tolist()
    
    return pd.DataFrame(append(l1,l2), columns=columns)



# splits categories jointed by ''/''
def disjoint(df, col, separator):
    res = []
    indexes = [separator not in i for i in df[col]]
    newDF = df.loc[indexes]
    
    for index, row in df.iterrows():
        if(separator in row[col]):
            for r in row[col].split(separator):
                newRow = row.copy()
                newRow[col] = r
                
                res.append(newRow)
            
    return appendDataFrames(newDF, pd.DataFrame(res, columns=newDF.columns, index=[len(df.values.tolist()) + i for i in range(0, len(res))]), columns=df.columns)





# returns cross table - yet this already exists in python
def countCols(table, col1, col2, separador):
    # create dictionary
    df = pd.DataFrame(table)
    
    # the counter dictionary
    counts = {}
    
    for index, row in df.iterrows():
        # separating, if needed
        rowContents1 = separate(row[col1],separador)
        rowContents2 = separate(row[col2], separador)
        
        for r1 in rowContents1:
            for r2 in rowContents2:
                # making the key
                k = r1 + "_" + r2
                
                # test if the key already exists
                if k not in counts:
                    counts[k] = 0
                counts[k] = int(counts[k] + 1)
        
    # count #rows and #cols
    rows = []
    cols = []
    for key in counts.keys():
        #separating row and col
        [rowIndex, colIndex] = separate(key, "_")
        
        # testing if the indexes is not included yet
        if(not np.isin([rowIndex], rows)[0]):
            rows.append(rowIndex)
        if(not np.isin([colIndex], cols)[0]):
            cols.append(colIndex)
    
    # create new table
    a = np.zeros(shape=(len(rows), len(cols)), dtype=int)
    finalTable = pd.DataFrame(a,columns=cols, index=rows)
    
    # inserting into the final table
    for key in counts.keys():
        [rowIndex, colIndex] = separate(key, "_")
        finalTable[colIndex][rowIndex] = int(counts[rowIndex + "_" + colIndex])
        
    return finalTable


# replaces the category codes by their category names 
def switchBack(df, col):
    # using the variable codesByCat defined below
    res = []
    for index, row in df.iterrows():
        newRow1 = row.copy()
        
        # separating the categories, if so
        if ("/" in row[col]):
            [cat1, cat2] = row[col].split(" / ")
            
            # removing possible whitespaces
            cat1 = cat1.strip()
            cat2 = cat2.strip()
            
            # testing if this is a valid code
            if(cat1 not in codesByCat[col].keys() or cat2 not in codesByCat[col].keys()):
                print("Removendo outlier:", index, row[col], "++++++++")
                continue
            newRow1[col] = codesByCat[col][cat1] + " / " + codesByCat[col][cat2]
        elif(row[col] != ""):
            # testing if this is a valid code
            if(row[col] not in codesByCat[col].keys()):
                print("Removendo outlier:", index, row[col], "++++++++")
                continue

            newRow1[col] = codesByCat[col][row[col].strip()]
        
        # putting the new row on the bottom of matrix
        res.append(newRow1)
    
    return pd.DataFrame(res, columns=df.columns)

--------
## Mostrando a Tabela de VETERANOS
--------

-------
## Tabela dos Veteranos - Dados Brutos
-------

Aqui, estão apresentados os dados com as categorias codificadas, tendo como base a análise de conteúdo realizada.

In [82]:

# replacing the codes by the categorie names
codesByCat = {
    "motivação para entrar" : {"IntAC":"Interesse por áreas do curso",\
             "Emp": "Empregabilidade",\
             "IntTer":"Influência de Terceiros"\
            },

    "expectativas" : {
        "CCMat": "Curso com caráter matemático", \
        "PAMasc": "Perfil majoritariamente masculino", \
        "CCDif":"Curso com caráter difícil", \
        "PAEnt":"Perfil de alunos entusiasmados",\
        "CCPrat": "Curso com caráter prático", \
        "CapAp": "Capacitação e aprendizado", \
        "EP": "Expectativas positivas", \
        "CCProg": "Curso com caráter voltador para programação",\
        "AtivExtCur": "Atividades extracurriculares",\
        "AtivEC": "Atividades extracurriculares",\
        "CCMerc":"Curso com caráter mercadológico",\
        "CCAcad": "Curso com caráter acadêmico", \
        "CCMenMat": "Curso com caráter menos matemático",\
        "Netw": "Bom networking",\
        "ProjPrat":"Projetos práticos",\
        "EM": "Expectativas medianas"\
        },

    "mercado de trabalho" : {
        "BEmp": "Boa empregabilidade", \
        "TrabAI": "Trabalhar na área de interesse", \
        "EP":"Expectativas positivas", \
        "N":"Nenhuma",\
        "DivOp": "Diversidade de oportunidades", \
        "EmpRR": "Empregabilidade regional ruim", \
        "SocRel": "Socialmente Relevante", \
        "MercC": "Mercado concorrido",\
        "EN": "Expectativas negativas",\
        "DiscAM": "Discrepância entre academia e mercado"\
        },

    "dificuldades" : {
        "DOrgP": "Dificuldades de foco e organização pessoal", \
        "DidProf": "Didática dos professores", \
        "ProbInf":"Problemas na infraestrutura do campus", \
        "EstrCInf": "Estrutura do curso inflexível",\
        "DifDisc": "Dificuldade e exigência das disciplinas",\
        "BConR": "Base pessoal de conhecimento ruim",\
        "ExCHO": "Excesso de carga horária obrigatória",\
        "DiscAM": "Discrepância entre academia e mercado de trabalho",\
        "DifFin": "Dificuldades financeiras",\
        "HorConf": "Horários conflitantes",\
        "FMotivP": "Falta de motivação pessoal",\
        "PerfAlu": "Perfil de alunos do curso"\
        },

    "quais?" : {
        "DidProf": "Didática dos professores", \
        "EstrCInf": "Estrutura do curso inflexível",\
        "DifDisc": "Dificuldade e exigência das disciplinas",\
        "BConR": "Base pessoal de conhecimento ruim",\
        "DifFin": "Dificuldades financeiras",\
        "HorConf": "Horários conflitantes",\
        "N": "Não sei",\
        "FMotP": "Falta de motivação pessoal",\
        }
}

des = des.rename(columns=map_col_nov)

des = des.replace('OUTLIER', 'Não Sabe / Não Respondeu').replace("Adquirir conhecimento e capacitação na área de computação / Obter ajuda capacitada de professores qualificados", "Adquirir conhecimento e capacitação na área de computação")

des

,idade,gênero,curso,motivação para entrar,expectativas,mercado de trabalho,expectativas atendidas,dificuldades,Motivos de desistência,Em que ano e semestre você desistiu do curso?,uso de jogos impactaria na visão sobre o curso?,Em quanto jogos evitariam a desistência?
0,24 a 27,Feminino,Ciência da Computação,Interesse por áreas do curso,Adquirir conhecimento e capacitação na área de...,Não sabia,3,Assuntos distantes do interesse pessoal; Profe...,Não Sabe / Não Respondeu,2016.1,4,3
1,16 a 19,Feminino,Ciência da Computação,Interesse por áreas do curso,Adquirir conhecimento e capacitação na área de...,Não sabia,2,Professores com didática diferente da esperada...,Distância entre academia e indústria; Professo...,2018.2,4,3
2,28 ou mais,Masculino,Ciência da Computação,Interesse por áreas do curso,Adquirir conhecimento e capacitação na área de...,Mercado de Trabalho em ascenção,2,Muita teoria e pouca prática,Impossibilidade de trabalhar e estudar,2010.2,5,5
3,28 ou mais,Masculino,Engenharia da Computação,Interesse por áreas do curso,Qualificar-se para o mercado de trabalho,Mercado de Trabalho em ascenção,2,Distância entre academia e indústria,impossibilidade de trabalhar e estudar; Distân...,2016.1,5,3
4,20 a 23,Masculino,Engenharia da Computação,Pressão familiar,Adquirir conhecimento e capacitação na área de...,Interesse em área específica no mercado de tra...,2,Assuntos distantes do interesse pessoal,Assuntos distantes do interesse pessoal,2016.2,3,1
5,24 a 27,Masculino,Ciência da Computação,Interesse por áreas do curso,Adquirir conhecimento e capacitação na área de...,Mercado de Trabalho em ascenção,1,Dificuldade das disciplinas; Distância entre a...,Professores com didática diferente da esperada;,2018.2,3,1
6,24 a 27,Masculino,Ciência da Computação,Interesse por áreas do curso,Graduar-se em um curso multidisciplinar,Trabalhar e estudar,3,Falta de estrutura das aulas,impossibilidade de trabalhar e estudar,2018.2,3,4
7,24 a 27,Masculino,Engenharia da Computação,Interesse por áreas do curso,Adquirir conhecimento e capacitação na área de...,Expectativas Positivas,2,impossibilidade de trabalhar e estudar,impossibilidade de trabalhar e estudar,2018.2,5,4
8,16 a 19,Masculino,Engenharia da Computação,Mercado de trabalho atrativo,expectativas positivas,Expectativas Positivas,2,Professores com didática diferente da esperada...,Expectativa frustrada sobre a área no mercado ...,2019.1,5,4
9,16 a 19,Masculino,Ciência da Computação,Interesse por áreas do curso,Graduar-se em um curso multidisciplinar,Mercado de Trabalho em ascenção,2,Dificuldade com disciplinas,Assuntos distantes do interesse pessoal;,2019.1,4,5

----------
## Tabela dos Veteranos - categorias separadas
----------

Aqui, nos deparamos com o seguinte problema: quando realizamos a contagem das categorias, algumas respostas apresentavam mais de uma delas. 
\Com isso, o script entendia que a resposta composta era uma nova categoria e a contabilizava individualmente e isto é indesejado

Logo, precisamos dividí-las, colocando-as em linhas separadas (onde cada linha representa uma resposta) e replicando o resto da linha.

Daí, vem a preocupação de estarmos replicando dados de forma artificial, mas contornamos da seguinte forma:
- Se a coluna teve respostas compostas (i.e., que tiveram que ser separadas), então a contagem dela só pode acontecer individualmente ou relacionada a outra coluna de mesmo tipo (e.g., motivação e dificuldade)
- Caso contrário, a contagem acontece na tabela original, sem separação.

As perguntas que tiveram respostas compostas foram:
* Motivação para entrar no curso
* expectativas para com o curso
* dificuldades enfrentadas
* expectativas sobre o mercado de trabalho

Abaixo é mostrado o código, utilizando a função disjoint, e a tabela corrigida.

In [109]:
motiv_des_sep = disjoint(des, "Motivos de desistência", "; ")

motiv_entrar_sep = disjoint(des, "motivação para entrar", "; ")

exp_sep = disjoint(des, "expectativas", "; ")

dific_sep = disjoint(des, "dificuldades", "; ")

mercado_sep = disjoint(des, "mercado de trabalho", "; ")

--------
## Contagens
--------

#### IMPORTANTE
Sempre que a função lidar com a tabela "vet_extenso", significa que os dados são da tabela original, sem separação de respostas compostas.

Já quando utiliza a tabela "vet_separados", os dados foram tratados com relação a respostas compostas (i.e., a resposta ocupa mais de uma categoria da análise de conteúdo)

### Curso

In [85]:
des['curso'].value_counts()

Ciência da Computação       6
Engenharia da Computação    4
Name: curso, dtype: int64

----------
### Faixa Etária

In [86]:
des['idade'].value_counts()

24 a 27       4
16 a 19       3
28 ou mais    2
20 a 23       1
Name: idade, dtype: int64

----------
### Gênero

In [87]:
des['gênero'].value_counts()

Masculino    8
Feminino     2
Name: gênero, dtype: int64

----------
### Motivação para entrar

In [110]:
motiv_entrar_sep['motivação para entrar'].value_counts()

Interesse por áreas do curso    8
Pressão familiar                1
Mercado de trabalho atrativo    1
Name: motivação para entrar, dtype: int64

--------
### Expectativas

In [111]:
exp_sep['expectativas'].value_counts()

Adquirir conhecimento e capacitação na área de computação    6
Graduar-se em um curso multidisciplinar                      2
expectativas positivas                                       1
Qualificar-se para o mercado de trabalho                     1
Name: expectativas, dtype: int64

--------
### Expectativas Atendidas

In [90]:
pd.DataFrame(des['expectativas atendidas'].replace("", "Não sabem / Não opinaram").value_counts()).sort_index(ascending=False)

   expectativas atendidas
3                       2
2                       7
1                       1

--------
### Expectativas Atendidas X Expectativas

In [116]:
countCols(des,  "expectativas", "expectativas atendidas").sort_index(ascending=False)

                                                    3  2  1
expectativas positivas                              0  1  0
Qualificar-se para o mercado de trabalho            0  1  0
Graduar-se em um curso multidisciplinar             1  1  0
Adquirir conhecimento e capacitação na área de ...  1  4  1

--------
### Mercado de Trabalho

In [119]:
mercado_sep['mercado de trabalho'].replace("", "Não sabem / Não opinaram").value_counts()

Mercado de Trabalho em ascenção                        4
Não sabia                                              2
Expectativas Positivas                                 2
Interesse em área específica no mercado de trabalho    1
Trabalhar e estudar                                    1
Name: mercado de trabalho, dtype: int64

--------
### Dificuldades Enfrentadas

In [120]:
dific_sep['dificuldades'].replace("", "Não sabem / Não opinaram").value_counts()

Professores com didática diferente da esperada    3
Dificuldade com disciplinas                       3
Distância entre academia e indústria              2
Assuntos distantes do interesse pessoal           2
Falta de estrutura das aulas                      1
Muita teoria e pouca prática                      1
Dificuldade das disciplinas                       1
impossibilidade de trabalhar e estudar            1
Name: dificuldades, dtype: int64

--------
### Motivos de Desistência

In [122]:
motiv_des_sep['Motivos de desistência'].value_counts()

impossibilidade de trabalhar e estudar                       3
Distância entre academia e indústria                         2
Não Sabe / Não Respondeu                                     1
Falta de motivação                                           1
Impossibilidade de trabalhar e estudar                       1
Assuntos distantes do interesse pessoal                      1
Professores com didática diferente da esperada               1
Expectativa frustrada sobre a área no mercado de trabalho    1
Professores com didática diferente da esperada;              1
Assuntos distantes do interesse pessoal;                     1
Name: Motivos de desistência, dtype: int64

--------
### Jogos Poderiam evitar desistência?

In [29]:
pd.DataFrame(des['Em quanto jogos evitariam a desistência?'].value_counts()).sort_index(ascending=False)

   Em quanto jogos evitariam a desistência?
5                                         2
4                                         3
3                                         3
1                                         2

--------
### Uso de jogos impactaria na visão sobre o curso?

In [30]:
pd.DataFrame(des['uso de jogos impactaria na visão sobre o curso?'].value_counts()).sort_index(ascending=False)

   uso de jogos impactaria na visão sobre o curso?
5                                                4
4                                                3
3                                                3

## Gênero x curso

* ### contagem absoluta

In [33]:

tab_conting_des = pd.crosstab(des['gênero'], des['curso'])
tab_conting_des

curso      Ciência da Computação  Engenharia da Computação
gênero
Feminino                       2                         0
Masculino                      4                         4

----------
* ### contagem relativa (%)

In [34]:
tab_conting_des.apply(lambda r: (r)/r.sum(), axis=1).style.format("{:.2%}") # formats 2 digits percentage

----------
## Curso x Motivação para entrar

----------
* ### contagem absoluta

In [35]:
tab_cross_motiv = pd.crosstab(des['curso'], des['motivação para entrar'])
tab_cross_motiv

motivação para entrar,Interesse por áreas do curso,Mercado de trabalho atrativo,Pressão familiar
curso,,,
Ciência da Computação,6,0,0
Engenharia da Computação,2,1,1

----------
* ### contagem relativa (%)

In [36]:
tab_cross_motiv.apply(lambda r: r/r.sum(), axis=1).style.format("{:.2%}")

## Curso x Expectativas

----------
* ### contagem absoluta

In [123]:
tab_cross_expec = pd.crosstab(des['curso'], des['expectativas'])
tab_cross_expec

expectativas,Adquirir conhecimento e capacitação na área de computação,Graduar-se em um curso multidisciplinar,Qualificar-se para o mercado de trabalho,expectativas positivas
curso,,,,
Ciência da Computação,4,2,0,0
Engenharia da Computação,2,0,1,1

----------
* ### contagem relativa (%)

In [124]:
tab_cross_expec.apply(lambda r: r/r.sum(), axis=1).style.format("{:.2%}")

## Curso x Expectativas atendidas

----------
* ### contagem absoluta

In [125]:
tab_cross_atend = pd.crosstab(des['curso'], des['expectativas atendidas'])
tab_cross_atend

expectativas atendidas    1  2  3
curso
Ciência da Computação     1  3  2
Engenharia da Computação  0  4  0

----------
* ### contagem relativa (%)

In [126]:
tab_cross_atend.apply(lambda r: r/r.sum(), axis=1).style.format("{:.2%}")

---------------
## Curso x Dificuldades

----------
* ### contagem absoluta

In [135]:
# tab_cross_dif = pd.crosstab(dific_sep['curso'], dific_sep['dificuldades'])
tab_cross_dif = countCols(dific_sep, "curso", "dificuldades", "; ")
tab_cross_dif

,Muita teoria e pouca prática,Distância entre academia e indústria,Assuntos distantes do interesse pessoal,Falta de estrutura das aulas,impossibilidade de trabalhar e estudar,Dificuldade com disciplinas,Professores com didática diferente da esperada,Dificuldade das disciplinas
Ciência da Computação,1,1,1,1,0,2,2,1
Engenharia da Computação,0,1,1,0,1,1,1,0

----------
* ### contagem relativa (%)

In [136]:
tab_cross_dif.apply(lambda r: r/r.sum(), axis=1).style.format("{:.2%}")

---------------
## Curso x Motivos de desistência

----------
* ### contagem absoluta

In [138]:
tab_cross_dif_giv = pd.crosstab(motiv_des_sep['curso'], motiv_des_sep['Motivos de desistência'])
tab_cross_dif_giv

Motivos de desistência,Assuntos distantes do interesse pessoal,Assuntos distantes do interesse pessoal;,Distância entre academia e indústria,Expectativa frustrada sobre a área no mercado de trabalho,Falta de motivação,Impossibilidade de trabalhar e estudar,Não Sabe / Não Respondeu,Professores com didática diferente da esperada,Professores com didática diferente da esperada;,impossibilidade de trabalhar e estudar
curso,,,,,,,,,,
Ciência da Computação,0,1,1,0,1,1,1,1,1,1
Engenharia da Computação,1,0,1,1,0,0,0,0,0,2

----------
* ### contagem relativa (%)

In [139]:
tab_cross_dif_giv.apply(lambda r: r/r.sum(), axis=1).style.format("{:.2%}")

---------------
## Curso x uso de jogos impacta na visão sobre o curso?

----------
* ### contagem absoluta

In [144]:
tab_cross_dif_jogos = pd.crosstab(des['curso'], des['uso de jogos impactaria na visão sobre o curso?'])
tab_cross_dif_jogos

uso de jogos impactaria na visão sobre o curso?  3  4  5
curso
Ciência da Computação                            2  3  1
Engenharia da Computação                         1  0  3

----------
* ### contagem relativa (%)

In [145]:
tab_cross_dif_jogos.apply(lambda r: r/r.sum(), axis=1).style.format("{:.2%}")

---------------
## Curso x Em quanto jogos evitariam a desistência?

----------
* ### contagem absoluta

In [146]:
tab_cross_evit_jogos = pd.crosstab(des['curso'], des['Em quanto jogos evitariam a desistência?'])
tab_cross_evit_jogos

Em quanto jogos evitariam a desistência?  1  3  4  5
curso
Ciência da Computação                     1  2  1  2
Engenharia da Computação                  1  1  2  0

----------
* ### contagem relativa (%)

In [147]:
tab_cross_evit_jogos.apply(lambda r: r/r.sum(), axis=1).style.format("{:.2%}")

---------------
## Motivação x Expectativas

----------
* ### contagem absoluta

In [148]:
tab_cross_motiv_exp = pd.crosstab(motiv_entrar_sep['motivação para entrar'], exp_sep['expectativas'])
tab_cross_motiv_exp

expectativas,Adquirir conhecimento e capacitação na área de computação,Graduar-se em um curso multidisciplinar,Qualificar-se para o mercado de trabalho,expectativas positivas
motivação para entrar,,,,
Interesse por áreas do curso,5,2,1,0
Mercado de trabalho atrativo,0,0,0,1
Pressão familiar,1,0,0,0

----------
* ### contagem relativa (%)

In [149]:
tab_cross_motiv_exp.apply(lambda r: r/r.sum(), axis=1).style.format("{:.2%}")

---------------
## Motivação x Mercado de Trabalho

----------
* ### contagem absoluta

In [150]:
tab_cross_motiv_merc = pd.crosstab(motiv_entrar_sep['motivação para entrar'], mercado_sep['mercado de trabalho'])
tab_cross_motiv_merc

mercado de trabalho,Expectativas Positivas,Interesse em área específica no mercado de trabalho,Mercado de Trabalho em ascenção,Não sabia,Trabalhar e estudar
motivação para entrar,,,,,
Interesse por áreas do curso,1,0,4,2,1
Mercado de trabalho atrativo,1,0,0,0,0
Pressão familiar,0,1,0,0,0

----------
* ### contagem relativa (%)

In [151]:
tab_cross_motiv_merc.apply(lambda r: r/r.sum(), axis=1).style.format("{:.2%}")

---------------
## Motivação x Expectativas atendidas

----------
* ### contagem absoluta

In [157]:
tab_cross_motiv_atend = pd.crosstab(motiv_entrar_sep['motivação para entrar'], des['expectativas atendidas'])
tab_cross_motiv_atend

expectativas atendidas        1  2  3
motivação para entrar
Interesse por áreas do curso  1  5  2
Mercado de trabalho atrativo  0  1  0
Pressão familiar              0  1  0

----------
* ### contagem relativa (%)

In [158]:
tab_cross_motiv_atend.apply(lambda r: r/r.sum(), axis=1).style.format("{:.2%}")

---------------
## Motivação x Dificuldades

----------
* ### contagem absoluta

In [159]:
tab_cross_motiv_dif = pd.crosstab(motiv_entrar_sep['motivação para entrar'], dific_sep['dificuldades'])
tab_cross_motiv_dif

dificuldades,Assuntos distantes do interesse pessoal,Dificuldade com disciplinas,Distância entre academia e indústria,Falta de estrutura das aulas,Muita teoria e pouca prática,Professores com didática diferente da esperada,impossibilidade de trabalhar e estudar
motivação para entrar,,,,,,,
Interesse por áreas do curso,2,2,1,1,1,1,0
Mercado de trabalho atrativo,0,0,0,0,0,1,0
Pressão familiar,0,0,0,0,0,0,1

----------
* ### contagem relativa (%)

In [160]:
tab_cross_motiv_dif.apply(lambda r: r/r.sum(), axis=1).style.format("{:.2%}")

---------------
## Motivação x Em quanto jogos evitariam a desistência?

----------
* ### contagem absoluta

In [162]:
tab_cross_motiv_dif_giv = pd.crosstab(motiv_entrar_sep['Em quanto jogos evitariam a desistência?'], motiv_entrar_sep['motivação para entrar'])
tab_cross_motiv_dif_giv

motivação para entrar,Interesse por áreas do curso,Mercado de trabalho atrativo,Pressão familiar
Em quanto jogos evitariam a desistência?,,,
1,1,0,1
3,3,0,0
4,2,1,0
5,2,0,0

----------
* ### contagem relativa (%)

In [163]:
tab_cross_motiv_dif_giv.apply(lambda r: r/r.sum(), axis=1).style.format("{:.2%}")

---------------
## Motivação x Motivos de desistência

----------
* ### contagem absoluta

In [164]:
tab_cross_motiv_dif_giv = pd.crosstab(motiv_entrar_sep['motivação para entrar'], motiv_des_sep['Motivos de desistência'])
tab_cross_motiv_dif_giv

Motivos de desistência,Assuntos distantes do interesse pessoal,Assuntos distantes do interesse pessoal;,Distância entre academia e indústria,Expectativa frustrada sobre a área no mercado de trabalho,Impossibilidade de trabalhar e estudar,Não Sabe / Não Respondeu,Professores com didática diferente da esperada,Professores com didática diferente da esperada;,impossibilidade de trabalhar e estudar
motivação para entrar,,,,,,,,,
Interesse por áreas do curso,1,1,0,1,1,1,1,1,1
Mercado de trabalho atrativo,0,0,1,0,0,0,0,0,0
Pressão familiar,0,0,0,0,0,0,0,0,1

----------
* ### contagem relativa (%)

In [165]:
tab_cross_motiv_dif_giv.apply(lambda r: r/r.sum(), axis=1).style.format("{:.2%}")

---------------
## Motivação x uso de jogos impacta na visão sobre o curso?

----------
* ### contagem absoluta

In [168]:
tab_cross_motiv_jogos = pd.crosstab(motiv_entrar_sep['uso de jogos impactaria na visão sobre o curso?'], motiv_entrar_sep['motivação para entrar'])
tab_cross_motiv_jogos

motivação para entrar,Interesse por áreas do curso,Mercado de trabalho atrativo,Pressão familiar
uso de jogos impactaria na visão sobre o curso?,,,
3,2,0,1
4,3,0,0
5,3,1,0

----------
* ### contagem relativa (%)

In [169]:
tab_cross_motiv_jogos.apply(lambda r: r/r.sum(), axis=1).style.format("{:.2%}")

### EXPECTATIVAS

---------------
## Expectativas x Expectativas atendidas

----------
* ### contagem absoluta

In [170]:
tab_cross_expec_atend = pd.crosstab(exp_sep['expectativas'], exp_sep['expectativas atendidas'])
tab_cross_expec_atend

expectativas atendidas                              1  2  3
expectativas
Adquirir conhecimento e capacitação na área de ...  1  4  1
Graduar-se em um curso multidisciplinar             0  1  1
Qualificar-se para o mercado de trabalho            0  1  0
expectativas positivas                              0  1  0

----------
* ### contagem relativa (%)

In [171]:
tab_cross_expec_atend.apply(lambda r: r/r.sum(), axis=1).style.format("{:.2%}")

---------------
## Expectativas x dificuldades

----------
* ### contagem absoluta

In [172]:
tab_cross_expec_dif = pd.crosstab(exp_sep['expectativas'], dific_sep['dificuldades'])
tab_cross_expec_dif

dificuldades,Assuntos distantes do interesse pessoal,Dificuldade com disciplinas,Distância entre academia e indústria,Falta de estrutura das aulas,Muita teoria e pouca prática,Professores com didática diferente da esperada,impossibilidade de trabalhar e estudar
expectativas,,,,,,,
Adquirir conhecimento e capacitação na área de computação,1,1,1,0,1,1,1
Graduar-se em um curso multidisciplinar,1,1,0,0,0,0,0
Qualificar-se para o mercado de trabalho,0,0,0,1,0,0,0
expectativas positivas,0,0,0,0,0,1,0

----------
* ### contagem relativa (%)

In [173]:
tab_cross_expec_dif.apply(lambda r: r/r.sum(), axis=1).style.format("{:.2%}")

---------------
## Expectativas x Motivos de desistência

----------
* ### contagem absoluta

In [175]:
tab_cross_expec_dif_giv = pd.crosstab(exp_sep['expectativas'], motiv_des_sep['Motivos de desistência'])
tab_cross_expec_dif_giv

Motivos de desistência,Assuntos distantes do interesse pessoal,Assuntos distantes do interesse pessoal;,Distância entre academia e indústria,Expectativa frustrada sobre a área no mercado de trabalho,Impossibilidade de trabalhar e estudar,Não Sabe / Não Respondeu,Professores com didática diferente da esperada,Professores com didática diferente da esperada;,impossibilidade de trabalhar e estudar
expectativas,,,,,,,,,
Adquirir conhecimento e capacitação na área de computação,1,1,0,0,1,1,0,0,2
Graduar-se em um curso multidisciplinar,0,0,0,1,0,0,1,0,0
Qualificar-se para o mercado de trabalho,0,0,0,0,0,0,0,1,0
expectativas positivas,0,0,1,0,0,0,0,0,0

----------
* ### contagem relativa (%)

In [176]:
tab_cross_expec_dif_giv.apply(lambda r: r/r.sum(), axis=1).style.format("{:.2%}")

---------------
## Expectativas x Em quanto jogos evitariam a desistência?

----------
* ### contagem absoluta

In [179]:
tab_cross_expec_dif_giv_quais = pd.crosstab(exp_sep['Em quanto jogos evitariam a desistência?'], exp_sep['expectativas'])
tab_cross_expec_dif_giv_quais

expectativas,Adquirir conhecimento e capacitação na área de computação,Graduar-se em um curso multidisciplinar,Qualificar-se para o mercado de trabalho,expectativas positivas
Em quanto jogos evitariam a desistência?,,,,
1,2,0,0,0
3,2,0,1,0
4,1,1,0,1
5,1,1,0,0

----------
* ### contagem relativa (%)

In [180]:
tab_cross_expec_dif_giv_quais.apply(lambda r: r/r.sum(), axis=1).style.format("{:.2%}")

---------------
## Expectativas x uso de jogos impacta na visão sobre o curso?

----------
* ### contagem absoluta

In [182]:
tab_cross_expec_jogos = pd.crosstab(exp_sep['uso de jogos impactaria na visão sobre o curso?'], exp_sep['expectativas'])
tab_cross_expec_jogos

expectativas,Adquirir conhecimento e capacitação na área de computação,Graduar-se em um curso multidisciplinar,Qualificar-se para o mercado de trabalho,expectativas positivas
uso de jogos impactaria na visão sobre o curso?,,,,
3,2,1,0,0
4,2,1,0,0
5,2,0,1,1

----------
* ### contagem relativa (%)

In [70]:
tab_cross_expec_jogos.apply(lambda r: r/r.sum(), axis=1).style.format("{:.2%}")

----------
## Variáveis auxiliares
----------

In [69]:
# simplifying the questions

# renaming questions to simplified names

map_col_nov={'Qual é a sua idade?': 'idade', \
             'Qual é o seu gênero?': 'gênero', \
             'De qual desses cursos você era aluno?': 'curso', \
             'Em que instituição você cursa?': 'instituição', \
             'Em qual ano e semestre você entrou no curso?': 'semestre entrada', \
             'Qual foi a sua motivação ao entrar no curso?': 'motivação para entrar', \
             'Ao ingressar, quais eram as suas expectativas em relação ao curso?': 'expectativas', \
             'Quais eram as suas perspectivas sobre o mercado de trabalho?': 'mercado de trabalho', \
             'O quanto você considera que suas expectativas foram atendidas ou frustradas?':'expectativas atendidas', \
             'Quais foram as principais dificuldades que você encontrou durante o curso?':'dificuldades', \
             'Quais foram os principais motivos da sua desistência do curso?':'Motivos de desistência',\
             'Se sim, quais, por exemplo?':'quais?', \
             "O quanto você considera que o uso desses tipos de métodos de ensino poderiam ter evitado sua desistência?": "Em quanto jogos evitariam a desistência?",\
             'O quanto você considera que o uso de métodos de ensino mais lúdicos durante as disciplinas do curso (como jogos, por exemplo) teriam impactado sua visão sobre o curso?': 'uso de jogos impactaria na visão sobre o curso?' \
            }


# replacing the codes by the categorie names
codesByCat = {
    "motivação para entrar" : {"IntAC":"Interesse por áreas do curso",\
             "Emp": "Empregabilidade",\
             "IntTer":"Influência de Terceiros"\
            },

    "expectativas" : {
        "CCMat": "Curso com caráter matemático", \
        "PAMasc": "Perfil majoritariamente masculino", \
        "CCDif":"Curso com caráter difícil", \
        "PAEnt":"Perfil de alunos entusiasmados",\
        "CCPrat": "Curso com caráter prático", \
        "CapAp": "Capacitação e aprendizado", \
        "EP": "Expectativas positivas", \
        "CCProg": "Curso com caráter voltador para programação",\
        "AtivExtCur": "Atividades extracurriculares",\
        "AtivEC": "Atividades extracurriculares",\
        "CCMerc":"Curso com caráter mercadológico",\
        "CCAcad": "Curso com caráter acadêmico", \
        "CCMenMat": "Curso com caráter menos matemático",\
        "Netw": "Bom networking",\
        "ProjPrat":"Projetos práticos",\
        "EM": "Expectativas medianas"\
        },

    "mercado de trabalho" : {
        "BEmp": "Boa empregabilidade", \
        "TrabAI": "Trabalhar na área de interesse", \
        "EP":"Expectativas positivas", \
        "N":"Nenhuma",\
        "DivOp": "Diversidade de oportunidades", \
        "EmpRR": "Empregabilidade regional ruim", \
        "SocRel": "Socialmente Relevante", \
        "MercC": "Mercado concorrido",\
        "EN": "Expectativas negativas",\
        "DiscAM": "Discrepância entre academia e mercado"\
        },

    "dificuldades" : {
        "DOrgP": "Dificuldades de foco e organização pessoal", \
        "DidProf": "Didática dos professores", \
        "ProbInf":"Problemas na infraestrutura do campus", \
        "EstrCInf": "Estrutura do curso inflexível",\
        "DifDisc": "Dificuldade e exigência das disciplinas",\
        "BConR": "Base pessoal de conhecimento ruim",\
        "ExCHO": "Excesso de carga horária obrigatória",\
        "DiscAM": "Discrepância entre academia e mercado de trabalho",\
        "DifFin": "Dificuldades financeiras",\
        "HorConf": "Horários conflitantes",\
        "FMotivP": "Falta de motivação pessoal",\
        "PerfAlu": "Perfil de alunos do curso"\
        },

    "quais?" : {
        "DidProf": "Didática dos professores", \
        "EstrCInf": "Estrutura do curso inflexível",\
        "DifDisc": "Dificuldade e exigência das disciplinas",\
        "BConR": "Base pessoal de conhecimento ruim",\
        "DifFin": "Dificuldades financeiras",\
        "HorConf": "Horários conflitantes",\
        "N": "Não sei",\
        "FMotP": "Falta de motivação pessoal",\
        }
}